/* PROFILE CONTAINER CSS */
.profile-container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 2%;
    margin: 20px 10px 20px 20px;
    padding: 10px 0;
    width: 22%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.profile-container-top {
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.welcome-container {
    /* background-color: #393E46;
    color: white; */
    padding: 20px 30px;
    border-radius: 20px;
    font-size: 1.5em;
    font-weight: bold;
    /* Adjust font size as needed */
}

.gallery-container,
.suggest-container,
.logout-container {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.gallery-container:hover,
.suggest-container:hover,
.logout-container:hover {
    background-color: #393E46;
    color: white;
}

.gallery-container,
.suggest-container {
    width: 80%;
}

.logout-container {
    width: 50%;
}

/* MAIN CONTENT CSS*/
.main-content-container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 1%;
    margin: 20px 20px 20px 10px;
    width: 78%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.main-content-top {
    display: flex;
    height: 75px;
    width: 100%;
    padding: 0 5%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    background-color: #393E46;
    color: white;
}

.main-content-right {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}

.main-content-right>div {
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.main-content-right div:hover {
    color: #F2E7D5;
    border-bottom: 2px solid #F2E7D5;
}

.cart-icon {
    height: 25px;
    width: 25px;

}

.main-content-products {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content-title-filter {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* LIST GROUP STYLING */
.car-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid #ddd;
    margin: 10px;
}

.car-group:hover {
    background-color: #393E46;
    color: white;
    cursor: pointer;
}

.car-item {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.car-header {
    display: flex;
    width: 100%;
    border-bottom: 3px solid;
    font-weight: bolder;
}

/* CART CSS */
.cart-details {
    display: flex;
    margin: 10px;
    width: 100%;
    padding: 0 5%
}

.cart-details-left {
    width: 68%;
}

.cart-details-right {
    width: 32%;
    flex: 1;
    border-left: 1px solid #ddd;
    padding-left: 20px;
}

/*.shipping-info,
.payment-info {
    margin-bottom: 20px;
}

.shipping-header,
.payment-header {
    font-weight: bold;
    margin-bottom: 10px;
}

.shipping-address,
.payment-details {
    line-height: 1.5;
}

.checkout-button {
    margin-top: 20px;
}

.checkout-button button {
    padding: 10px 20px;
    background-color: #393E46;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout-button button:hover {
    background-color: #212529;
}

.cart-details-right h3 {
    margin-top: 0;
    border-bottom: 2px solid #393E46;
    padding-bottom: 10px;
} */